# =============================
# Email config

# For development or quick testing use console as the email backend
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
# For production use smtp, uncomment the below variable
# EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_FROM_ADDRESS="LearnSphere <info@gmail.com>"
EMAIL_HOST_USER='smarteat@smarteatsapp.online'
EMAIL_HOST_PASSWORD='q:N7czFD7]Ky43'

# =============================
# Other

DEBUG=True
SECRET_KEY='76e90470cdc161dd79319c2e9fc6b71c'
