{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ video.title }} | {% trans 'Learning management system' %}{% endblock title %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item">
            <a href="{% url 'course_detail' class_id=course.class_assigned.id subject_slug=course.slug %}">{{ course }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ video.title }}</li>
    </ol>
</nav>
                
<p class="title-1">{{ video.title }}</p>
<br><br>

<div class="col-md-10 mx-auto d-block">
    <div class="video-container">
        <video controls preload="metadata" style="width:100%; max-width:100%;">
            <source src="{{ video.video.url }}" type="video/mp4">
            {% trans 'Your browser does not support the video tag.' %}
        </video>
    </div>
    <p><i class="fas fa-calendar"></i> {{ video.timestamp|timesince }} {% trans 'ago' %}</p>
    {% if video.summary %}
    <p class="text-orange text-center">{{ video.summary }}</p>
    {% else %}
    <p>{% trans 'No video description set.' %}</p>
    {% endif %}
</div>

{% endblock content %}